<section *ngIf="creditAnalysis" id="analysis-viewer">
  <app-header />
  <div id="infos" class="px-6 md:px-14 py-28 flex flex-col xl:flex-row">
    <div class="w-full xl:w-4/12 flex flex-col">
      <app-recomendation-card class="mb-6 fadeInUp" [currentRecomendation]="creditAnalysis.recommendation" />
      <app-score-card class="mb-6 fadeInUp" [score]="creditAnalysis.totalPoints" />
      <app-analysis-details-card class="mb-6 fadeInUp" [creditAnalysis]="creditAnalysis" />
    </div>
    <div class="w-full xl:w-8/12 xl:ml-6">
      <app-documents-card class="flex fadeInUpWithMargin" [documents]="creditAnalysis.documents"/>
    </div>
  </div>
</section>